/* file location: desktop-www-csv-download */

body {
  font-family: system-ui, sans-serif;
  margin-inline: min(1rem, 5vw);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

label {
  display: block;
}

form {
  max-width: 600px;
}

textarea {
  font-family: monospace;
  white-space: pre;
  display: block;
  margin-block: 1rem;
  width: 100%;
  max-width: 600px;
  height: 60vh;
  max-height: 1000px;
  border-radius: 2px;
}

button {
  border: none;
  cursor: pointer;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  background-color: hsl(208, 73%, 42%);
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.file-name {
  display: flex;
  justify-content: flex-start;

  gap: 1rem;
  margin-block: 1rem;
}

.file-name input[type="text"] {
  border: none;
  border-block-end: 1px dotted;
}

.file-name input[type="text"]:active {
  outline: none;
}

.file-name input[type="text"]:focus {
  outline: none;
}

body {
  background-color: hsl(0, 0%, 94%);
}

textarea {
  background-color: hsl(0, 0%, 98%);
}

.file-name input[type="text"] {
  background-color: hsl(0, 0%, 96%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
  }

  textarea {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 90%);
  }

  .file-name input[type="text"] {
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 90%);
  }

  button {
    background-color: hsl(208, 73%, 22%);
  }
}
